{# templates/admin/dashboard.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Панель управления{% endblock %}

{% block main %}
    <div class="row g-4 mt-2">
        {# Статистика подтягивается через отдельный API endpoint или Twig extension #}
        <div class="col-md-3">
            <div class="card text-bg-primary">
                <div class="card-body">
                    <h5 class="card-title">Бронирований сегодня</h5>
                    <p class="card-text display-6">{{ stats.bookingsToday }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-bg-success">
                <div class="card-body">
                    <h5 class="card-title">Оплачено сегодня</h5>
                    <p class="card-text display-6">{{ stats.revenueToday|number_format(0, '.', ' ') }} ₽</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-bg-warning">
                <div class="card-body">
                    <h5 class="card-title">Ожидают верификации</h5>
                    <p class="card-text display-6">{{ stats.pendingMasters }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-bg-danger">
                <div class="card-body">
                    <h5 class="card-title">Новые жалобы</h5>
                    <p class="card-text display-6">{{ stats.newReports }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
